{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $username := promptStringOnce . "username" "Github Username"}}

[data]
    email = {{ $email | quote }}
    username = {{ $username | quote }}
