# Put this in your ~/.gitconfig or ~/.config/git/config
# Windows users: "~" is your profile's home directory, e.g. C:\Users\<YourName>
[user]
  name = {{ .username }}
  email = {{ .email }}

[color]
  ui = auto
[alias]
  aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
  ci = commit
  co = checkout
  st = status
  lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
  oops = commit --amend --no-edit
  push-with-lease = push --force-with-lease
  rebase-with-hooks = rebase -x 'git reset --soft HEAD~1 && git commit -C HEAD@{1}'
  review-local = "!git lg @{push}.."
  reword = commit --amend
  uncommit = reset --soft HEAD~1
  untrack = rm --cache --
[core]
  excludesfile = ~/.gitignore_global
	editor = nvim
  whitespace = -trailing-space
[diff]
  mnemonicPrefix = true
  renames = true
  wordRegex = .
  submodule = log
  tool = nvim 
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
  recurseSubmodules = on-demand
[grep]
  break = true
  heading = true
  lineNumber = true
  extendedRegexp = true
[log]
  abbrevCommit = true
  follow = true
  decorate = false
[merge]
  ff = false
[mergetool]
  keepBackup = false
  keepTemporaries = false
  writeToTemp = true
  prompt = false
[pull]
  rebase = merges
[push]
  default = upstream
  followTags = true
	autoSetupRemote = true
[status]
  submoduleSummary = true
  showUntrackedFiles = all
[color "branch"]
  upstream = cyan
[tag]
  sort = version:refname
[versionsort]
  prereleaseSuffix = -pre
  prereleaseSuffix = .pre
  prereleaseSuffix = -beta
  prereleaseSuffix = .beta
  prereleaseSuffix = -rc
  prereleaseSuffix = .rc
[init]
	defaultBranch = main
[pager]
	log = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
