{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Check if Oh My Zsh directory already exists
if [ -d "$HOME/.oh-my-zsh" ]; then
    echo "Oh My Zsh is already installed (.oh-my-zsh directory found)"
    exit 0
fi

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
{{ end -}}